<div class="container">
  <div class="form-header">
    <h1>Deviant Searcher</h1>
    <form method="GET" action="/devart" class="form-inline justify-content-center">
      <input name="search" type="text" class="form-control w-75 mr-sm-2" placeholder="Leave blank for a random word!" value="<%=searchterm%>"></input>
      <input type="submit" value="Search" class="btn btn-primary"></button>
      </div>
    </form>
  </div>
</div>